<div class="takenotes-main-cnt" [style.backgroundColor]="noteObj.color ?noteObj.color:'#202124' " >
    <div class="takenote-input-1-cnt" (click)="openEditNote()">
        
        <div class="takenote-inputs-1" placeholder="Title" >{{noteObj.title}}</div>
        <mat-icon svgIcon="pin-icon" aria-hidden="false" aria-label="Note SVG icon" class="pin-icon"></mat-icon>
    </div>
    <div (click)="openEditNote()">
        <div class="takenote-inputs-2" placeholder="description">{{noteObj.description}}</div>
    </div>
    <div class="takenotes-icon-main-cnt" >
        <div class="takenotes-icon-cnt" *ngIf="(container=='note' || container=='archive' )else trash">
            <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
            <mat-icon svgIcon="collaborator-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
            <mat-icon svgIcon="color-pallet-icon" aria-hidden="false" aria-label="Note SVG icon" [matMenuTriggerFor]="colorPallet" ></mat-icon>

            <mat-icon svgIcon="image-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
           
            <mat-icon svgIcon="archive-icon" *ngIf="container=='note'else unarchive " (click)="handleNoteOperations('archive')" ></mat-icon>
            <ng-template #unarchive>
                <mat-icon svgIcon="unarchive-icon"  (click)="handleNoteOperations('archive')" ></mat-icon>
            </ng-template>

            <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="Note SVG icon" [matMenuTriggerFor]="showmore"></mat-icon> 

        </div>
        <ng-template #trash style>
            <mat-icon svgIcon="delete-icon"  (click)="deleteNote('delete')"></mat-icon>
            <mat-icon svgIcon="restore-icon"  (click)="handleNoteOperations('trash')"></mat-icon>
        </ng-template>
      
        <mat-menu #colorPallet="matMenu" yPosition="below">
            <div class="color-palate-cnt">    
                <div class="col1" matTooltip="Default" (click)="handleNoteOperations('#FFFFFF')"></div>
                <div class="col2" matTooltip="Coral" (click)="handleNoteOperations('#FAAFA8')"></div>
                <div class="col3" matTooltip="Peach" (click)="handleNoteOperations('#F39F76')"></div>
                <div class="col4" matTooltip="Sand" (click)="handleNoteOperations('#FFF8B8')"></div>
                <div class="col5" matTooltip="Mint" (click)="handleNoteOperations('#E2F6D3')"></div>
                <div class="col6" matTooltip="Sage" (click)="handleNoteOperations('#B4DDD3')"></div>
                <div class="col7" matTooltip="Fog" (click)="handleNoteOperations('#D4E4ED')"></div>
                <div class="col8" matTooltip="Storm" (click)="handleNoteOperations('#AECCDC')"></div>
                <div class="col9" matTooltip="Dusk" (click)="handleNoteOperations('#D3BFDB')"></div>
                <div class="col10" matTooltip="Blossom" (click)="handleNoteOperations('#F6E2DD')"></div>
                <div class="col11" matTooltip="Clay" (click)="handleNoteOperations('#E9E3D4')"></div>
                <div class="col12" matTooltip="Chalk" (click)="handleNoteOperations('#EFEFF1')"></div>           
            </div>
        </mat-menu>
        <mat-menu #showmore="matMenu" yPosition="below">
            <div class="show-more-cnt">

                <div (click)="handleNoteOperations('trash')" >Delete note</div>
                <div>Add label</div>
                <div>Add drawing</div>
                <div>Make a Copy</div>
                <div>Show tick boxes</div>
                <div>Copy to google docs</div>
                <div>Version history</div>

            </div>
        </mat-menu>
    </div>
</div>

<!-- <mat-menu #colorPallet="matMenu"  yPosition="below">
    <div class="color-palate-cnt">    
        <div class="col1" matTooltip="Default" (click)="handleNoteOperations('#FFFFFF')"></div>
        <div class="col2" matTooltip="Coral" (click)="handleNoteOperations('#FAAFA8')"></div>
        <div class="col3" matTooltip="Peach" (click)="handleNoteOperations('#F39F76')"></div>
        <div class="col4" matTooltip="Sand" (click)="handleNoteOperations('#FFF8B8')"></div>
        <div class="col5" matTooltip="Mint" (click)="handleNoteOperations('#E2F6D3')"></div>
        <div class="col6" matTooltip="Sage" (click)="handleNoteOperations('#B4DDD3')"></div>
        <div class="col7" matTooltip="Fog" (click)="handleNoteOperations('#D4E4ED')"></div>
        <div class="col8" matTooltip="Storm" (click)="handleNoteOperations('#AECCDC')"></div>
        <div class="col9" matTooltip="Dusk" (click)="handleNoteOperations('#D3BFDB')"></div>
        <div class="col10" matTooltip="Blossom" (click)="handleNoteOperations('#F6E2DD')"></div>
        <div class="col11" matTooltip="Clay" (click)="handleNoteOperations('#E9E3D4')"></div>
        <div class="col12" matTooltip="Chalk" (click)="handleNoteOperations('#EFEFF1')"></div>           
    </div>
  </mat-menu> -->






